<html xmlns:th="https://www.thymeleaf.org/">
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
    <style>
      .row {
        padding-bottom: 10px;
      }
      input[type="radio"]{
          width: 20px;
          height: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="card">
        <div class="card-header bg-primary">
          <h1 class="text-white text-center">
            <strong>Doctor Registration Page</strong>
          </h1>
        </div>
        <div class="card-body">
          <form id="docForm" th:action="@{/doctor/save}" method="POST">
            <div class="row">
              <div class="col-3">
                <h3>
                  <strong><label for="docName">Doctor Name ::</label></strong>
                </h3>
              </div>
              <div class="col-5">
                <input
                  type="text"
                  name="docName"
                  id="docName"
                  class="form-control form-control-lg"
                  placeholder="Enter Doctor Name"
                />
              </div>
              <div class="col-4">
                <span id="docNameError"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <h3>
                  <strong><label for="docEmailId">Email Id ::</label></strong>
                </h3>
              </div>
              <div class="col-5">
                <input
                  type="email"
                  name="docEmailId"
                  id="docEmailId"
                  class="form-control form-control-lg"
                  placeholder="xyz@gmail.com"
                />
              </div>
              <div class="col-4">
                <span id="docEmailIdError"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <h3>
                  <strong
                    ><label for="docSpecialization"
                      >Choose Specialization ::</label
                    ></strong
                  >
                </h3>
              </div>
              <div class="col-5">
                <select name="docSpecialization.id" id="docSpecialization" class="form-control form-control-lg">
                  <option value="">--SELECT--</option>
                  <option th:each="ob:${specs}" th:value="${ob.key}" th:text="${ob.value}"></option>
                </select>
              </div>
              <div class="col-4">
                <span id="docSpecializationError"></span>
              </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <h3><strong><label for="docAddress">Doctor Address ::</label></strong></h3>
                </div>
                <div class="col-5">
                    <textarea name="docAddress" id="docAddress" class="form-control form-control-lg" placeholder="Enter Doctor Address"></textarea>
                </div>
                <div class="col-4">
                    <span id="docAddressError"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <h3><strong><label for="docMobileNo">Doctor Mobile Number ::</label></strong></h3>
                </div>
                <div class="col-5">
                    <input type="number" name="docMobileNo" id="docMobileNo" class="form-control form-control-lg" placeholder="Enter Doctor Mobile Number">
                </div>
                <div class="col-4">
                    <span id="docMobileNoError"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <h3><strong><label for="docGender">Doctor Gender ::</label></strong></h3>
                </div>
                <div class="col-5">
                    <input type="radio" name="docGender" id="docGender" value="Male"> <b>Male</b>&nbsp;&nbsp;
                    <input type="radio" name="docGender" id="docGender" value="Female"> <b>Female</b>
                </div>
                <div class="col-4">
                    <span id="docGenderError"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <h3><strong><label for="docNote">Doctor Note ::</label></strong></h3>
                </div>
                <div class="col-5">
                    <textarea name="docNote" id="docNote" class="form-control form-control-lg" placeholder="Enter Some Note"></textarea>
                </div>
                <div class="col-4">
                    <span id="docNoteError"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <h3><strong><label for="docPhotoLoc">Choose Your Photo ::</label></strong></h3>
                </div>
                <div class="col-5">
                    <input type="file" name="fileOb" id="fileOb" class="form-control-file">
                    <input type="hidden" name="docPhotoLoc" id="docPhotoLoc">
                </div>
                <div class="col-4">
                    <span id="docPhotoLocError"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-3">

                </div>
                <div class="col-9">
                    <div class="row">
                        <div class="col-2">
                            <button type="submit" class="btn btn-success">Submit <i class="fa fa-sign-in" aria-hidden="true"></i> </button>
                        </div>
                        <div class="col-10">
                            <button type="reset" class="btn btn-danger">Reset <i class="fa fa-refresh" aria-hidden="true"></i> </button>                            
                        </div>
                    </div>
                </div>
            </div>
          </form>
        </div>
        <div class="card-footer bg-info" th:if="${message!=null}">
        	<h4 class="text-white" th:text="${message}"></h4> 
        </div>
      </div>
    </div>
    <script type="text/javascript" th:src="@{/js/doc_validate.js}"></script>
  </body>
</html>
