<html xmlns:th="https://www.thymeleaf.org/">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
        <style>
            button{
                width: 100%;
            }
            .row{
                padding-bottom: 20px;
            }
        </style>
</head>
<body class="bg-info">
    <div class="container">
        <div class="card">
            <div class="card-header bg-primary">
                <h1 class="text-center text-white"><strong>Password Update Page</strong></h1>
            </div>
            <div class="card-body">
                <form id="valForm" th:action="@{/user/passwordUpdate}" method="POST">
                    <div class="row">
                        <div class="col-4">
                            <h3><strong><label for="pwd1">Enter New Password</label></strong></h3>
                        </div>
                        <div class="col-5">
                            <input type="password" name="password" id="pwd1" class="form-control form-control-lg" placeholder="Enter New Password" required>
                        </div>
                        <div class="col-3">
                            <span id="newPasswordError"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h3><strong><label for="pwd2">Re-Enter New Password</label></strong></h3>
                        </div>
                        <div class="col-5">
                            <input type="password" name="newPassword" id="pwd2" class="form-control form-control-lg" placeholder="Re-Enter New Password" required>
                        </div>
                        <div class="col-3">
                            <span id="ReEnterPasswordError"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-success"><h5><strong>Submit</strong></h5></button>
                        </div>
                    </div>
                </form>
              
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            var newPasswordError=false;
            var ReEnterPasswordError=false;

            $("#newPasswordError").hide();
            $("#ReEnterPasswordError").hide();            

            function validate_newPassword(){
                var newPassword=$("#pwd1").val();
                //alert("newPassword");
                var newPasswordPattern=/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{6,8}$/;
                if(newPassword==''){
                    $("#newPasswordError").show();
                    $("#newPasswordError").html("<p><strong>* Password is Required</strong><p>");
                    $("#newPasswordError").css("color","red");
                    $("#pwd1").css("border","2px solid red");
                     newPasswordError=false;

                }
               else if(!newPasswordPattern.test(newPassword)){
                    $("#newPasswordError").show();
                    $("#newPasswordError").html("<p><strong>* Password must contain at least one lowercase, one Uppercase, one digit (min=6,max=8)</strong></p>");
                    $("#newPasswordError").css("color","red");
                    $("#pwd1").css("border","2px solid red");
                     newPasswordError=false;

                }else{
                    $("#newPasswordError").hide();
                    $("#pwd1").css("border","");
                    newPasswordError=true;
                }
            }
            function validate_reEnterPassword(){
            var ReEnterPassword=$("#pwd2").val();
            //alert("ReEnternewPassword");
            var newPassword=$("#pwd1").val();
            if(ReEnterPassword==''){
                    $("#ReEnterPasswordError").show();
                    $("#ReEnterPasswordError").html("<p><strong>* Re Enter Your Password</strong></p>");
                    $("#ReEnterPasswordError").css("color","red");
                    $("#pwd2").css("border","2px solid red");
                    ReEnterPasswordError=false;

                }
            else if(ReEnterPassword!=newPassword){
                    $("#ReEnterPasswordError").show();
                    $("#ReEnterPasswordError").html("<p><strong>* Password should must match with above given password</strong></p>");
                    $("#ReEnterPasswordError").css("color","red");
                    $("#pwd2").css("border","2px solid red");
                    ReEnterPasswordError=false;
            }else{
                $("#ReEnterPasswordError").hide();
                $("#pwd2").css("border","");
                ReEnterPasswordError=true;
            }
        }

        $("#pwd1").keyup(function(){
            validate_newPassword();
        })

        $("#pwd2").keyup(function(){
            validate_reEnterPassword();
        })

        $("#valForm").submit(function(){
            validate_newPassword();
            validate_reEnterPassword();
            if(newPasswordError && ReEnterPasswordError){
                return true;
            }else{
                return false;
            }
        })

        })
        
    </script>
</body>

</html>